  <footer id="footer">
        <div class="text-block spaced">
          <a href="/kontakt">KONTAKT</a>
          <a href="/blog">BLOG</a>
          <a href="/wiki">WIKI</a>
        </div>
  </footer>

  <script type="module">
      function isHostMethod(object, method) {
        var objectMethod = object[method];
        var type = typeof objectMethod;
        return type == 'function' || type == 'object' && null !== objectMethod || type == 'unknown';
      }

      function isHostObjectProperty(object, property) {
        var objectProperty = object[property];
        return typeof objectProperty == 'object' || typeof objectProperty == 'function' && null !== objectProperty;
      }

      if(!isHostMethod(document.documentElement, 'addEventListener') ||!isHostObjectProperty(window, 'navigator') || !isHostObjectProperty(navigator, 'clipboard') ||
        isHostMethod(navigator.clipboard, 'writeText') || !isHostMethod(document.documentElement, 'querySelector')
      ) {
        var copyButton = document.createElement('button');
        copyButton.type = "button";
        copyButton.className = "app-copy-button";
        copyButton.innerHTML = '<span class="app-copy_button__text button">Kopírovat</span> <span class="app-visually-hidden">email address</span>';
        copyButton.addEventListener('click', e => {
          navigator.clipboard.writeText('mail@filipdedic.com').then(function() {
            copyButton.querySelector('.app-copy_button__text').innerHTML = "Zkopírováno";
            window.setTimeout(() => {
              copyButton.querySelector('.app-copy_button__text').innerHTML = "Kopírovat";
            }, 3000);
          });
        }, false);
        document.querySelector('.app-copy').appendChild(copyButton);
      }
  </script>

  </body>
</html>
