
            <h2>Newsletter</h2>
            <p>Jednou za čas pošlu, na co zajímavého jsem narazil.</p>
            <p>
              <details>
              <summary>Témata</summary>
                <ul>
                  <li>Design</li>
                  <li>Komunikace</li>
                  <li>Antropologie</li>
                  <li>Technologie</li>
                  <li>Analýzy a reporty</li>
                  <li>Literatura</li>
                  <li>Krajina</li>
                </ul>
              </details>
            </p>
            <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup">
              <form action="https://twitter.us12.list-manage.com/subscribe/post?u=015be158fb9f21b898ce4469f&amp;id=6dd90961d0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                  <div class="mc-field-group">
                    <label for="mce-EMAIL" class="form-label">Email</label>
                    <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
                  </div>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_015be158fb9f21b898ce4469f_6dd90961d0" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="OK" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
              </form>
            </div>
            <!--End mc_embed_signup-->
